body{
    margin: 0;
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 55px;

}
p{
    font-size: 30px;
}
.highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}
.half-width img {
    width: 110%;
}
.Top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}